*{
    box-sizing: border-box;
}

/* Universal */
button{
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

body{
    background-color: black;
}

.playfield{
    width: 996px;
    height: 560px;
    background-image: url(img/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 80px;
    position: relative;
    /* overflow: hidden; */
}

.gamestart{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.playbtn{
   
}

.countdown{
    width: 190px;
    height: 55px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 35px;
    vertical-align: middle;
    padding-top: 5px;    
}

.catched-carrot{
    background-color: orange;
    width: 60px;
    height: 60px;
    font-size: 40px;
    padding-top: 7px;
    margin-top: 9px;
    border-radius: 50%;
    border: 3px solid black;
    color: white;
}

.gamefield{
   width: 100%;
   height: 55%;
   margin-top: 47px;
   position: relative;
}

.game-result{
    background-color: black;
    opacity : 0.6;
    width: 600px;
    height: 150px;
    border-radius: 30px;
    display: none;
    position: absolute;
    top: 350px;
    left: 200px;
    z-index: 5;
}

.replaybtn{
    display: block;
    margin: auto;
    margin-top: 10px;
}

.game-result__text{
    display: inline-block;
    color: white;
    font-size: 55px;
    margin-left:150px;
}
