body{
    background-color: black;
    color: white;
}

img{
    position: absolute;
}

.coordinates{
    position: absolute;
}

.row{
    background-color: white;
    height: 1px;
    position: absolute;
}

.column {
    background-color: white;
    width: 1px;
    position: absolute;
}

