body{
    background-color: black;
    color: white;
    margin: 0;
}

img{
    position: absolute;
}

.coordinates{
    position: absolute;
    font-size: 24px;
    margin: 20px;
}

.row{
    background-color: white;
    height: 1px;
    position: absolute;
    width: 100%;
}

.column {
    background-color: white;
    width: 1px;
    position: absolute;
    height: 100%;
}

