:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
} 

/* Universal */
ul{
  list-style: none;
  color: black;
  padding: 0;
}

img{
  width: 40px;
  height: 40px;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--color-black);
  color: white;
}

.shoppingmall{
  width: 400px;
  position: relative;
  text-align: center;
  overflow: auto;
  margin: auto;
}

.filter{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 5px;
}

.filter__img{
  transition: 200ms ease-in-out;
}

.filter__img:hover{
  transform: scale(1.2);
}

.filter__color{
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.filter__color:hover{
  transform: scale(1.2);
}

.blue {
  background-color: var(--color-blue);
}

.yellow{
  background-color: var(--color-yellow);
}

.pink{
  background-color: var(--color-pink);
}

.lists{
  margin-top: 30px;
}

.lists__item{
  display: flex;
  align-items: center;  
  padding: 5px;
  margin: 8px 0px;
  background-color: var(--color-white);
  border-radius: 3px;
}

.lists__item__img{  
  margin: 0px 10px;
}

.lists__item__text{
  margin-left: 10px;
}

h1{
  cursor:pointer;
}